In [3]:
#1
import pandas as pd
data={"Apples":[30],"Bananas":[21]}
df=pd.DataFrame(data)
df

   Apples  Bananas
0      30       21

In [4]:
data={"Apples":[35,41],"Bananas":[21,34]}
df=pd.DataFrame(data,index=['2017 Sales','2018 Sales'])
df

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [8]:
series=pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')
series

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [6]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [7]:
 import pandas as pd
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

True