In [39]:
import pandas as pd

In [41]:
df=pd.read_csv('police.csv',encoding='latin')
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [42]:
df.head(10)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [44]:
df.describe()
df.isna()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
91737,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
91738,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
91739,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
91740,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False

In [46]:
df.isna().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [47]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
91736    False
91737    False
91738    False
91739    False
91740    False
Length: 91741, dtype: bool

In [48]:
df.drop_duplicates(inplace=True)
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [68]:
df['stop_duration']=df['stop_duration'].fillna("0")
df['stop_duration']=df['stop_duration'].apply(lambda x: x.split()[0])
df['stop_duration']

0         0-15
1         0-15
2         0-15
3        16-30
4         0-15
         ...
91736     0-15
91737     0-15
91738     0-15
91739     0-15
91740     0-15
Name: stop_duration, Length: 91262, dtype: object

In [70]:
[df[col].unique() for col in df.columns]

[array(['2005-01-02', '2005-01-18', '2005-01-23', ..., '2015-12-29',
        '2015-12-30', '2015-12-31'], dtype=object),
 array(['01:55', '08:15', '23:15', ..., '04:42', '04:59', '05:35'],
       dtype=object),
 array([nan]),
 array(['M', 'F', nan], dtype=object),
 array([1985., 1965., 1972., 1986., 1984., 1982., 1969., 1970., 1979.,
        1966., 1955., 1958., 1953., 1967.,   nan, 1964., 1977., 1959.,
        1973., 1947., 1978., 1962., 1981., 1988., 1983., 1961., 1957.,
        1971., 1950., 1954., 1960., 1976., 1974., 1968., 1938., 1980.,
        1963., 1975., 1987., 1948., 1956., 1944., 1935.,    0., 1952.,
        1945., 1946., 1941., 1942., 1951., 1949., 2005., 1939., 1943.,
        1936., 1924., 1937., 1929., 1930., 1931., 1923., 1940., 1933.,
        1989., 1928., 1932., 1990., 1926., 2006., 1927., 1997., 1934.,
        1887., 1925., 1918., 2004., 1991., 2002., 2007., 1992., 8801.,
        2001., 2003., 1998., 1922., 1993., 2008., 2009., 2919., 2000.,
        1994., 1995., 2011., 1996., 2013., 1914., 1920., 1999.]),
 array([20., 40., 33., 19., 21., 23., 36., 35., 26., 39., 50., 47., 52.,
        38., nan, 41., 28., 46., 32., 58., 27., 43., 24., 17., 22., 44.,
        48., 34., 55., 51., 45., 29., 31., 37., 67., 25., 42., 30., 18.,
        57., 49., 61., 70., 53., 60., 59., 64., 63., 54., 56., 66., 62.,
        69., 81., 68., 76., 75., 74., 82., 65., 72., 16., 77., 73., 71.,
        80., 79., 78., 88., 15., 83., 86., 84., 85., 87., 99., 89., 94.,
        90.]),
 array(['White', 'Black', 'Asian', nan, 'Hispanic', 'Other'], dtype=object),
 array(['Speeding', 'Call for Service', 'Equipment/Inspection Violation',
        'Other Traffic Violation', nan, 'Registration Violation',
        'Special Detail/Directed Patrol', 'APB',
        'Violation of City/Town Ordinance', 'Suspicious Person',
        'Motorist Assist/Courtesy', 'Warrant', 'Seatbelt Violation'],
       dtype=object),
 array(['Speeding', 'Other', 'Equipment', 'Moving violation', nan,
        'Registration/plates', 'Seat belt'], dtype=object),
 array([False,  True]),
 array([nan, 'Incident to Arrest,Protective Frisk', 'Probable Cause',
        'Incident to Arrest', 'Probable Cause,Reasonable Suspicion',
        'Incident to Arrest,Inventory,Probable Cause',
        'Incident to Arrest,Inventory',
        'Incident to Arrest,Probable Cause', 'Protective Frisk',
        'Reasonable Suspicion', 'Inventory', 'Inventory,Protective Frisk',
        'Incident to Arrest,Reasonable Suspicion',
        'Incident to Arrest,Probable Cause,Protective Frisk',
        'Probable Cause,Protective Frisk',
        'Incident to Arrest,Inventory,Protective Frisk',
        'Protective Frisk,Reasonable Suspicion',
        'Incident to Arrest,Inventory,Reasonable Suspicion',
        'Inventory,Probable Cause',
        'Incident to Arrest,Protective Frisk,Reasonable Suspicion',
        'Inventory,Probable Cause,Protective Frisk',
        'Inventory,Reasonable Suspicion',
        'Incident to Arrest,Probable Cause,Reasonable Suspicion',
        'Inventory,Probable Cause,Reasonable Suspicion',
        'Probable Cause,Protective Frisk,Reasonable Suspicion'],
       dtype=object),
 array(['Citation', 'Arrest Driver', nan, 'N/D', 'Warning',
        'Arrest Passenger', 'No Action'], dtype=object),
 array([False, True, nan], dtype=object),
 array(['0-15', '16-30', '30+', '0', '2', '1'], dtype=object),
 array([False,  True])]

In [73]:
df.sort_values(['stop_time','driver_age'])

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
40,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Driver,True,16-30,True
41,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Citation,False,30+,True
1865,2005-12-03,00:00,NaN,M,1988.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15,False
7576,2006-06-18,00:00,NaN,M,1989.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,16-30,False
73853,2013-12-30,00:00,NaN,F,1996.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37893,2009-10-15,23:59,NaN,M,1956.0,53.0,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15,False
70924,2013-08-13,23:59,NaN,M,1959.0,54.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15,False
68133,2013-04-05,23:59,NaN,F,1958.0,55.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,16-30,False
18804,2007-07-21,23:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0,False
29132,2008-09-21,23:59,NaN,F,0.0,NaN,White,Speeding,Speeding,False,NaN,Warning,False,0-15,False

In [75]:
df['driver_age'].max(),df['driver_age'].min()

(99.0, 15.0)